@charset "utf-8";
html, body, div, object, pre, code, h1, h2, h3, h4, h5, h6, p, span, em, cite, del, a, img, ul, li, ol, dl, dt, dd, fieldset, legend, form, input, button, textarea, header, section, footer, article, nav, aside, menu, figure, figcaption {
	margin:0;
	padding:0;
	outline:none;
}
table{font-size:12px}
.cardexplain {
margin: 11px 8px 10px 8px;
}
ul.round {
text-align: left;
font-size: 14px;
line-height: 24px;
background-color: #FFF;
border-radius: 5px;
box-shadow: 0 1px 3px rgba(0,0,0, 0.5);
margin-bottom: 11px;
display: block;
color:#666666;
}
li.title {
background-color: #E1E1E1;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#d6d6d6));
box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;
border-radius: 5px 5px 0 0;
border-width: 0;
}
ul.round li {
	border:solid #C6C6C6;
	border-width:0 0 1px 0;
	padding:0px 10px 0 10px;
}
ul.round li:only-of-type {
	border-width:0;
}
ul.round li:last-of-type {
	border-width:0;
}
.round li, .round li span, .round li a {
	line-height:20px;
}

.cpbiaoge { width:100%; text-align:left;border-top: 1px solid #c6c6c6; }
.cpbiaoge .cc { text-align:center !important;}
.cpbiaoge .rr{ text-align:right !important;}
.cpbiaoge th{background-color: #f9f9f9; font-size:12px; padding:8px 10px 8px 10px;}
.cpbiaoge td{border-top: 1px solid #E6E6E6; font-size:14px; padding:4px 5px 4px 8px;}

a{
	text-decoration:none!important;
	color:#0B90DD;
	outline:none;
	font-weight:bolder;
}
label,input,button,textarea {
	vertical-align:middle;
}
.cpbiaoge textarea{
width: 95%;
margin: .5em 0;
background-image:none;
padding: 5px;
box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
background-clip: padding-box;
border-radius: 5px;
border: 1px solid rgba(0,0,0,0.22);
color: #333333;
font-size:12px;
}
.submit {
background-color: #c32d32;
padding: 10px 20px;
font-size: 18px;
letter-spacing:2px;
text-decoration: none;
border: 1px solid #9C1402;
background: -webkit-gradient(linear,left top,left bottom,from(#FF0008),to(#B60006));
box-shadow: 0 1px 0 #FC8383 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
border-radius: 5px;
color: #ffffff;
display: block;
cursor:pointer;
text-align: center;
text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.submit:active {
	padding-bottom:9px;
	padding-left:20px;
	padding-right:20px;
	padding-top:11px;
	top:0px;
	background:-webkit-gradient(linear,left top,left bottom,from(#B60006),to(#FF0008));
	box-shadow: 0 1px 0 #FC8383 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
}
.submit2 {
	background-color:#ffe156;
	padding:10px 20px;
	font-size: 18px;
	font-weight:bolder;
	letter-spacing:2px;
	text-decoration:none;
	border:1px solid #D2BD85;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff5cb), to(#ffe156));
	box-shadow: 0 1px 1px #fff3c2 inset, 0 1px 2px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	color: #ffffff;
	display:block;
	cursor:pointer;
	text-align:center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.submit2:active {
	padding-bottom:9px;
	padding-left:20px;
	padding-right:20px;
	padding-top:11px;
	top:0px;
	color: #ffffff;
	font-weight:bolder;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe156), to(#fff5cb));
	box-shadow: 0 1px 1px #fff3c2 inset, 0 1px 2px rgba(0, 0, 0, 0.15);
}

.text{
width: 95%;
margin: .5em 0;
background-image:none;
padding: 5px;
box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
background-clip: padding-box;
border-radius: 5px;
border: 1px solid rgba(0,0,0,0.22);
color: #333333;
font-size:12px;
}